<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="Url" value="/"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnHackathon2016" connectionString="Server=tcp:10.0.0.143,1433;Database=Hackathon2016;User ID=sa;Password=80503736;" providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
</configuration>